#featuredHero {
    background-color: blue;
    height: 80vh;
    padding: 30px 50px;
    background-image: url('../../assets/img/pizza-hero.jpg');
    background-size: cover;
}

h2 {
    margin: 0;
}