.hero {
  position: relative;

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }


}

button {
  background-color: #ECD69C;
  color: #60282C;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button:hover {
  transition: 0.4s;
  background-color: #f2cd6f;
  color: #77292f;
}

#docs {

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}
